<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Изменить отзыв</title>
</head>
<body>

<h1>Изменить отзыв</h1>

<form action="#" th:action="@{/reviews/edit/{id}(id=${review.reviewId})}" th:object="${review}" method="post">
  <label for="establishment">Заведение:</label>
  <select id="establishment" th:field="*{establishment.establishmentId}" required>
    <option th:each="establishment : ${establishments}"
            th:value="${establishment.establishmentId}"
            th:text="${establishment.name}">Заведение</option>
  </select>

  <label for="visitor">Посетитель:</label>
  <select id="visitor" th:field="*{visitor.visitorId}" required>
    <option th:each="visitor : ${visitors}"
            th:value="${visitor.visitorId}"
            th:text="${visitor.firstName} + ' ' + ${visitor.lastName}">Посетитель</option>
  </select>

  <label for="rating">Рейтинг:</label>
  <input type="number" id="rating" th:field="*{rating}" min="1" max="5" required/>

  <label for="comment">Комментарий:</label>
  <textarea id="comment" th:field="*{comment}" required></textarea>

  <button type="submit">Сохранить изменения</button>
</form>

<a href="/reviews">Назад к списку отзывов</a>

</body>
</html>
