<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Список отзывов</title>

</head>

<body>

<h1>Список отзывов</h1>

<a href="/reviews/create">Создать новый отзыв</a>

<table>

    <thead>

    <tr>

        <th>ID</th>

        <th>ID Заведения</th>

        <th>ID Посетителя</th>

        <th>Рейтинг</th>

        <th>Комментарий</th>

        <th>Действия</th>

    </tr>

    </thead>

    <tbody>

    <tr th:each="review : ${reviews}">

        <td th:text="${review.reviewId}"></td>

        <td th:text="${review.establishment.getEstablishmentId()}"></td>

        <td th:text="${review.visitor.getVisitorId()}"></td>

        <td th:text="${review.rating}"></td>

        <td th:text="${review.comment}"></td>

        <td>

            <a th:href="@{/reviews/edit/{id}(id=${review.reviewId})}">Редактировать</a>

            <a th:href="@{/reviews/delete/{id}(id=${review.reviewId})}">Удалить</a>

        </td>

    </tr>

    </tbody>

</table>

</body>

</html>

